.accordion__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
}

.accordion__content {
    display: flex;
    height: 0;
    opacity: 0;
    transition: all 0.3s ease-in;
    flex-direction: column;
    gap: 10px;
    height: 0;
}
.accordion__container {
    transition: all 0.3s ease-in;
    max-height: 0;
}
.accordion__container.open .accordion__content {
    opacity: 1;
    height: 100%;
}

.accordion__heading > div.users__expand {
    transition: transform 0.05s ease-out;
}

.accordion__heading.selected > div.users__expand {
    transform: rotate(180deg);
}
